# 타입 캐스팅과 문자열 포맷팅

In [5]:
var = 2
print( type(var) )
var = str(var)
print( type(var) )
print(var)

print( 'hello' + var)

<class 'int'>
<class 'str'>
2
hello2

In [8]:
var = '2'
print(type(var))
print(type( int(var) ))
print( 1 + int(var) )

<class 'str'>
<class 'int'>
3

In [9]:
var = 'hello'
int(var)

ValueError: invalid literal for int() with base 10: 'hello'

In [10]:
"The sum of 1 + 2 is {0}".format(1+2)

'The sum of 1 + 2 is 3'

In [11]:
"2 x {} = {}".format( 1, 2)

'2 x 1 = 2'

# x 보다 작은 수 모두 출력하기

주어진 리스트에서 x보다 작은 수를 모두 출력하시면 됩니다. 
```
    x = 5
    [ 1, 10, 4, 9, 2, 3, 8, 5, 7, 6 ]
```

In [17]:
lists = [1, 10, 4, 9, 2, 3, 8, 5, 7, 6]
x = 5

for i in lists:
    if i < x:
        print(i)

1
4
2
3

# 주어진 리스트의 점수를 새로 계산하는 프로그램을 작성

```
    [10, 20, 30]
    M = 30
    
    ex). 첫번째 원소: 10
    => 10/M * 100 => 10/30 * 100 = 33.33333333
```

In [11]:
lists = [40, 80, 60]
# M = max(lists) !!! 추천

M = 0
# 1). M < 40: M = 40
# 2). M < 80: M = 80
# 3). M < 60: skip

for element in lists:
    if M < element:
        M = element
# print(M) = 80

print(lists)
print( list(range(3)))
for i in range( 3 ):
    # print(i)
    # print( lists[i] )
    lists[i] = lists[i] / M * 100
print(lists)

[40, 80, 60]
[0, 1, 2]
[50.0, 100.0, 75.0]

# 주어진 문자열의 총합을 구해봅시다.

```
    '29384752834'
```

In [20]:
string = '29384752834'

total = 0
for ch in string:
    #print(ch)
    total += int(ch)
print(total)

total = 0
for i in range( len(string) ):
    #print(string[i])
    total += int(string[i])
print(total)

55
55

# 단어의 갯수를 세어봅시다. 

```
'The Curious Case of Benjamin Button'
```

In [23]:
string = 'The Curious Case of Benjamin Button'
cnt = 0

# 단어의 갯수 == 화이트 스페이스의 갯수

for ch in string:
    if ch == ' ':
        cnt += 1

print(cnt)

5

# 갯수 세어보기 두 번째

```
    '1098237489215923874'
```

주어진 문자열에서 0 에서 9까지 각 숫자가 몇번 나왔는지 구해봅시다.

In [1]:
string = '1098237489215923874'
cnt = [0,0,0,0,0,0,0,0,0,0]

for ch in string:
    cnt[int(ch)] += 1
print(cnt)

[1, 2, 3, 2, 2, 1, 0, 2, 3, 3]

# 충첩 루프(루프의 루프)

```
    단 = [ 2, 3, 4, 5, 6, 7, 8, 9 ]
    리스트 = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
```

In [3]:
n = [2,3,4,5,6,7,8,9]
m = [1,2,3,4,5,6,7,8,9]

for 단 in n:
    # print('단: ' + str(단))
    for i in m:
        # print('숫자: ' + str(i))
        print('{} x {} = {}'.format(단, i, 단*i) )

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 함수(function)

- 수학적인 함수와는 다릅니다. 

```
def 함수명(arguments, ... ):
    pass
```

In [17]:
def func(lists=[]):
    M = 0
    for element in lists:
        if M < element:
            M = element
    return M
            
n = func([1,2,3,4,5,6])

In [18]:
n

6

In [23]:
string = 'The Curious Case of Benjamin Button'

number_of_count = string.split(sep=' ')
len(word_count)

6

# 입/출력

## 1. 표준 입출력
## 2. 파일 읽기/쓰기
## 3. 네트워크 통신

# 표준 입/출력

- 표준 입력 장치로부터 받은 입력을
  표준 출력 장치로 출력

In [7]:
n = input()

1234

In [8]:
n

'1234'

In [1]:
n = input()
n = int(n)

for i in range(1, 10):
    print('{} x {} = {}'.format(int(n), i, n*i) )

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

# 입출력 첫번째 표준 입출력

- input(), print()
- input() 같은 경우 블록함수로써, 입력이 들어올때 까지 대기
- input() 함수로 입력받는 경우 자료형은 문자열이다

# 두 수를 입력받아, 입력받은 두 수의 합을 구해 봅시다.

In [15]:
#n = input("첫번째 수를 입력하세요: ")
#m = input("두번째 수를 입력하세요: ")

tmp = input("두 수를 입력하세요: ")
n, m = tmp.split(sep = ',')

# validation
if n.isdecimal() and m.isdecimal():
    n = int(n)
    m = int(m)
    print("입력된 두 수의 합은 {} 입니다.".format(n+m))
else:
    print("계산할 수 없는 값이 입력되었습니다.")

두 수를 입력하세요: 1,3
입력된 두 수의 합은 4 입니다.

In [16]:
m

3

# 입출력 두번쨰 파일 읽고/쓰기

In [26]:
#open("/workspace/sd_jupyter/open.txt") # 절대경로

file = open("../../open.txt") #상대 경로
#file.read()
#print(file.readline() )
#print(file.readline() )

for line in file.readlines():
    print(line)

file.close() #중요!

Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Sed condimentum nunc vel nibh fermentum, vitae dignissim nulla elementum.

Maecenas non magna suscipit, vehicula dolor nec, tempor mauris.

Sed pulvinar dui id eros aliquam, ac dapibus nulla rhoncus.

Maecenas sit amet sem suscipit, aliquet lacus at, gravida tellus.

Duis et nisl ultrices purus volutpat ultricies.

Nulla varius quam ut viverra eleifend.

Mauris ac sem eget urna mollis ullamcorper.

Maecenas porttitor risus a magna dictum, in aliquet diam semper.

In [28]:
file = open("../../open.txt", mode='w')
file.write("전성원")
file.close()

In [33]:
#f = open(...)
with open("../../open.txt" , mode = 'r') as f:
    print(f.readline() )
    for line in f.readlines():
        print(line)

Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Sed condimentum nunc vel nibh fermentum, vitae dignissim nulla elementum.

Maecenas non magna suscipit, vehicula dolor nec, tempor mauris.

Sed pulvinar dui id eros aliquam, ac dapibus nulla rhoncus.

Maecenas sit amet sem suscipit, aliquet lacus at, gravida tellus.

Duis et nisl ultrices purus volutpat ultricies.

Nulla varius quam ut viverra eleifend.

Mauris ac sem eget urna mollis ullamcorper.

Maecenas porttitor risus a magna dictum, in aliquet diam semper.

# 입출력 세번째 네트워크

In [1]:
print('우왕')

우왕

# 함수(재귀함수)

In [2]:
#덧셈(1부터 10까지의 합)

for i in range(11):
    i = i + 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [3]:
def recursive(n):
    if n <= 1:
        return 1
    return n + recursive(n-1)

recursive(10)
print(recursive(10))

55

# 피보나치 수열
```
   F = 0
   F_1 = 1
   F_2 = F_1 + F_0
   F_3 = F_2 + F_1
   ...
   F_n = F_(n-1) + F_(n-2)
```

# n번째 피보나치의 수는 무엇인가?

- ex). fibonachi(12)

In [6]:
n = 1000
fibo = [ 0 , 1 ]

for i in range(2, n):
    fibo.append( fibo[i-1] + fibo[i-2])

print(fibo[n-1])

26863810024485359386146727202142923967616609318986952340123175997617981700247881689338369654483356564191827856161443356312976673642210350324634850410377680367334151172899169723197082763985615764450078474174626

In [12]:
def fibonachi(n):
    if n <= 1:
        return n
    else:
        return fibonachi(n-1) + fibonachi(n-2)
fibonachi(25)

75025

# 함수

# 지역변수, 전역변수
 - 변수의 영역(scope)

In [17]:
#glob = 0 #전역변수, global variable(함수 바깥에서도 사용 가능한 변수)
def func(lists=[]):
    M = 0 # 지역변수, local variable (함수 안쪽에서만 사용되는 변수)
    for element in lists:
        if M < element:
            M = element
    return M

n = func([1, 2, 3])

In [18]:
n

3

# 람다

- 일반적인 파이썬 프로그래밍에서는 잘 쓰이지는 않음
- 머신러닝같은 인공지능 분야에서는 많이 쓰임

```
   lambda arguments(매개변수): 표현식 
```

In [19]:
def add(a,b):
    return a+b

add(10,20)

30

In [20]:
(lambda a, b:a+b)(10, 20)

30

- 함수와 리스트를 매개변수로 하는 함수
```
   map(함수, 리스트)
```

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
map( lambda a,b:a+b, range(10), range(10)) #주소 출력(16진수로)

In [22]:
list (map( lambda a,b:a+b, range(10), range(10)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 클래스
- 사용자 정의 데이터 타입

```
   class 클래스 이름():
```

- 클래스 이름은 대문자로 시작

## 클래스의 특징

### 은닉성
    - getter
    - setter

### 다형성
    - 오버로딩(over loading)
    - 오버라이딩(overriding)

### 상속
    - 다중상속
    - 추상클래스
    - is ~a, has ~a #클래스 대부분의 구조

# 은닉성

In [3]:
# var = Object() # 대문자 구분을 해줘야 객체를 생성하는 함수임을 바로 알 수 있다.
class Person() :
    # 속성(변수), ex)사람이라면 누구나 가지는 속성
    _age = 10 #'_' 은닉성
    name = 'david'
    
    #생성자 정의
    def __init__(self, name = ''):
        self.name = name
        
    #소멸자 정의
    def __del__(self):
        print("소멸자 실행")
        
    #getter
    @property    
    def age(self):
        return self._age
    
    #setter
    @age.setter
    def age(self, age):
        self._age = age
    
    # 기능(함수)
    def eat(self): # 멤버 메서드(member method)
        print(self.age)
        print('먹고 있습니다.')
    def sleep(self):
        print(self)
        print('자고 있습니다.')

In [96]:
person1 = Person() # 객체 생성, 생성자 호출

소멸자 실행

In [94]:
#원래는 멤버 메서드 이지만 변수처럼 사용이 가능
#멤버 변수로 접근하는 것처럼 보이지만 메서드임이 틀림없음! (본질은 달라짐x)
person1.age

10

In [99]:
#본래 문법: person1.set_age(20)
person1.age = 20
person1.age

20

In [88]:
person1.name

'david'

In [81]:
person2 = Person(12, 'sonar')
print(person2.age)
print(person2.name)

12
sonar

In [82]:
del person1

소멸자 실행

In [42]:
person1.name

'david'

In [43]:
person2.name

'david'

In [70]:
person1.eat()

10
먹고 있습니다.

In [66]:
person3 = Person() #객체 생성

In [67]:
person3

In [68]:
person3.eat()

10
먹고 있습니다.

In [27]:
class Person() :
    # 속성(변수)
    # 멤버변수
    # 클래스 안쪽에 있으면서 method의 바깥쪽에 있는 변수를 '클래스 변수'라 한다.
    _age1 = 0 #private
    name = '클래스변수' #public
    
    #생성자 정의
    def __init__(self, age = 0, name = ''):
        self._age1 = age
        self.name = name
            
    #파이썬에서는 decoration을 위에 붙여 getter메소드를 사용한다.
    #getter 메소드
    @property
    def age(self):
        return self._age1
    
    #setter 메소드
    @age.setter
    def age(self, age):
        self._age1 = age
    
    # 기능(함수)
    def eat(self):         
        age = 0
        self.age = 0
        print('먹고 있습니다')
    def sleep(self): # 멤버 메서드(member method)
        print(self)
        print('자고 있습니다.')

In [47]:
person1 = Person() #객체 생성, 생성자 호출

In [50]:
person1.age

1000

In [49]:
# person1.set_age(20)
person1.age = 1000

In [58]:
#클래스 변수
Person.name

'클래스변수'

In [54]:
person1 = Person(12, 'sonar')

In [56]:
person1.name

'sonar'

In [61]:
person2 = Person(100, '객체 변수')
person2.name

'객체 변수'

In [62]:
person2.gender = 'male'
person2.gender

'male'

In [63]:
person1.gender

AttributeError: 'Person' object has no attribute 'gender'

## Object(객체)의 이해, 복사의 종류
- 깊은복사, 얕은 복사

In [68]:
list(range(5)) #두 번 다시 못쓰는 경우: 어딘가에는 만들어졌지만 주소를 모른다.
#무한 반복될 경우 메모리가 꽉 참.

[0, 1, 2, 3, 4]

In [67]:
list1 = [1, 2, 3, 4, 5]
list2 = list1
hex(id(list1))

'0x7f378566b9b0'

In [69]:
hex(id(list2))

'0x7f378566b9b0'

In [70]:
list2.append(10)

In [72]:
list1

[1, 2, 3, 4, 5, 10]

In [74]:
var1 = 10
var2 = var1 # 깊은 복사: 객체가 복사되는 것
var2 = 20
var1

10

In [75]:
list2 = list1[:]

In [76]:
print(hex(id(list1)))
print(hex(id(list2)))

0x7f378566b9b0
0x7f3785681730

In [36]:
str1 = "string" #객체생성
str2 = str("string")

In [37]:
print(str1)
print(str2)

string
string

ex)
#### 구조적 프로그래밍
- structured ex)C

## 상속(inherit)

In [7]:
class Student(Person):
    pass

In [34]:
stu1 = Student(12, '첫번째 학생')

In [39]:
print(stu1.age)
print(stu1.name)

0
클래스변수

In [30]:
stu1.eat()

먹고 있습니다
학생이 먹고있습니다.

### 메소드 오버라이딩
    - 메소드 재지정(재정의)

In [43]:
class Student(Person):
    
    def __init__(self, age, name, school_name):#부모클레스의 argument도 받아와야함
        super().__init__(age, name)
        self.school_name = school_name

    #메소드 오버라이딩은 부모 클래스의 메소드와 동일한 이름으로 정의
    def eat(self):
        super().eat() #부모 클래스의 메소드를 호출하고 싶은 경우(super())
        print('학생이 먹고있습니다.')

In [44]:
stu1 = Student(20, '첫번째 학생', 'SD Academy')

In [46]:
print(stu1.age)
print(stu1.name)
print(stu1.school_name)

20
첫번째 학생
SD Academy

In [47]:
class MiddleSchoolStudent(Student):
    pass

In [48]:
stu2 = MiddleSchoolStudent(13, '첫번쨰 중학생', 'SD Academy')
print(stu2.age)
print(stu2.name)
print(stu2.school_name)

13
첫번쨰 중학생
SD Academy

In [76]:
class A:
    def __init__(self):
        print("A Class initialized")

class B(A):
    def __init__(self):
        super().__init__()
        self.var = "B"
        print("B Class initialized")
        
class C(A):
    def __init__(self):
        super().__init__()
        self.var = "C"
        print("C Class initialized")

class D(B, C):
    def __init__(self):
        super().__init__()
        print("D Class initialized")

In [77]:
d = D()

A Class initialized
C Class initialized
B Class initialized
D Class initialized

In [65]:
D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [78]:
d.var

'B'